.textarea-default {
  border: 0.02px solid;
  border-color: #757575;
  padding: 10px !important;
}

.update-notification {
  background-color: #222;
  color: #fff;
  display: block;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  right: 0;
  padding: 0.8em 1.2em;
  text-decoration: none;
}
